
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #475aa5; /* 綠色背景 */
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.button-link:hover {
  background-color: #2d3e80; /* 滑鼠移上去的顏色變化 */
}

.center-box {
position: absolute;
top: 50%;
left: 50%;
width: 500px;
height: auto;
transform: translate(-50%, -50%);
background-color: #f0f0f0;
padding: 50px;
border-radius: 10px;
text-align: center;
}
.center-box_left{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 10px;
    text-align: left;
    }

input
 {
      width: 300px;           /* 寬度 */
      height: 30px;           /* 高度 */
      padding: 10px;          /* 內距：讓文字不要緊貼邊緣 */
      font-size: 16px;        /* 字體大小 */
      border: 1px solid #ccc; /* 淡灰色邊框 */
      border-radius: 8px;     /* 圓角 */
      box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* 陰影 */
      outline: none;          /* 移除點擊時的藍框 */
      transition: 0.3s;       /* 滑順變化效果 */
    }
  
input:focus {
      border-color: #4CAF50;       /* 聚焦時邊框變綠色 */
      box-shadow: 0 0 8px rgba(76, 175, 80, 0.5); /* 聚焦時的光暈 */
    }

