<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>訂票用戶＿註冊 </title>
        <link rel="stylesheet" href="style.css">


    </head>
    <body style="background-color: rgb(55, 47, 64);">
      <div class="center-box_left">
        <h2>會員註冊</h2>
        <p>以電子郵件註冊</p>
        <input id="account" type ="email">
        <br/><br/>
        <p>出生年月日</p>
        <input id="birthday" type ="date">
        <br/><br/>
        <p>密碼設定</p>
        <input id="password" type ="password">
        <br/> <br/>
        <p>密碼確認</p>
        <input id="password2" type ="password">
        <br/><br/>
        <button id = "btn" type="submit" class="button"> 登入 </button>
        
      </div>
    </body>
</html>