<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>訂單查詢</title>

  <link rel="stylesheet" href="9style.css">
</head>
<body>
  <div class="sidebar">
    <h2>功能選單</h2>
    <a href ="movie_list.html" class="menu-button"> 🎬 上映電影 </a>
    <a href ="movie_list.html" class="menu-button"> 🎟️ 我要訂票 </a>
    <a href ="9訂票用戶＿查詢訂單.html" class="menu-button"> 🧾 查詢訂單 </a>
  </div>


 

    <!-- 訂單內容會顯示在這裡 -->
  </div>
  <main id="content">
    <h1 id="page-title">  所有訂單</h1>
    
    <div id="order-container"> </div>
  </main>

  <script src="9.js"></script>
</body>
</html>
