<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin_layout}">
<head>
    <title>訂票列表</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/booking.css}">
    </th:block>
</head>
<body>

<section layout:fragment="content">
    <h1>所有電影票</h1>

    <div th:if="${#lists.isEmpty(bookings)}">
        <p>目前沒有任何訂單</p>
    </div>

    <table th:unless="${#lists.isEmpty(bookings)}">
        <thead>
        <tr>
            <th>訂單編號</th>
            <th>票種</th>
            <th>電影名稱</th>
            <th>放映廳</th>
            <th>開始時間</th>
            <th>座位</th>
            <th>目前狀態</th>
            <th>變更</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookings}">
            <td th:text="${booking.bookingId}">101</td>
            <td th:text="${booking.type.name() == T(com.javaoop.movie_booking_app.model.TicketType).ADULT.name() ? '成人' : '孩童'}">
                Adult
            </td>
            <td>
                <a th:href="@{/movie/{id}/showtime(id=${booking.showtime.movie.movieId})}"
                   th:text="${booking.showtime.movie.title}">
                    Movie Title
                </a>
            </td>
            <td th:text="${booking.showtime.hall.getHallId()} + ' - ' + (${booking.showtime.hall.getHallType().name() == T(com.javaoop.movie_booking_app.model.HallType).BIG.name() ? '大廳' : '小廳'})">
                Hall 5
            </td>
            <td th:text="${#temporals.format(booking.showtime.startTime, 'yyyy-MM-dd HH:mm')}">2025-06-10 14:30</td>
            <td>
                <span th:each="seat, iterStat : ${booking.seats}"
                      th:text="${seat.row.toString() + seat.number + (!iterStat.last ? ', ' : '')}">
                    A1, A2
                </span>
            </td>
            <td>
                <span class="status" th:classappend="'status-' + ${booking.status.name()}"
                      th:text="${booking.status.name()}">
                    CONFIRMED
                </span>
            </td>
            <td>
                <form th:action="@{/admin/booking}" method="post">
                    <input type="hidden" name="bookingId" th:value="${booking.bookingId}"/>
                    <input type="hidden" name="showtimeId" th:value="${showtimeId}"/>

                    <select name="status">
                        <option th:each="stat : ${allStatuses}"
                                th:value="${stat}"
                                th:text="${stat}"
                                th:selected="${stat == booking.status}"></option>
                    </select>
                    <button type="submit">更新</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>