<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin_layout}">
<head>
    <title>電影選單</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </th:block>
</head>
<body>
<section layout:fragment="content">
    <!-- 查詢電影區塊（預設顯示） -->
    <div id="movies" class="section active">
        <h2>🎬 所有電影</h2>

        <!-- 電影卡片清單 -->
        <div class="movie-grid">
            <div th:each="movie : ${movies}" class="movie-card">
                <a th:href="@{/admin/movie/{id}(id=${movie.movieId})}">
                    <img th:src="@{'/images/' + ${movie.poster}}">
                    <div class="info">
                        <h3 th:text="${movie.title}"></h3>
                        <p><strong>分級：</strong> <span th:text="${movie.ratingCategory}"></span></p>
                        <p><strong>片長：</strong> <span th:text="${movie.durationMinutes}"></span> 分鐘</p>
                        <p><strong>簡介：</strong> <span th:text="${movie.synopsis}"></span></p>
                        <p>是否正在上映：
                            <span th:if="${movie.isActive}" style="color: greenyellow;">是</span>
                            <span th:unless="${movie.isActive}" style="color: firebrick;">否</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


</body>
</html>
