<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>首頁</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </th:block>
</head>

<body>
<section layout:fragment="content" style="height: 100vh;">
    <!-- 查詢電影區塊（預設顯示） -->
    <div id="movies" class="section active"
         style="height: 100vh; text-align: center;">
        <h1 style="margin: auto;">
            您好，<span sec:authentication="name"></span>
        </h1>
    </div>
</section>


</body>
</html>
