<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>查詢電影場次</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </th:block>
</head>
<body>

<section layout:fragment="content">
    <h1 id="page-title">🎬 <span th:text="${movie.title}"></span> 的場次清單</h1>
    <div>
        <p th:if="${showtimes.isEmpty()}">
            現在沒有場次
        </p>
        <div th:unless="${showtimes.isEmpty()}" class="movie-grid">
            <div th:each="showtime : ${showtimes}" class="movie-card">
                <h4>
                    <span th:text="${showtime.startTime}"></span> ~ <span th:text="${showtime.endTime}"></span>
                </h4>
                <p><strong>放映廳編號：</strong> <span th:text="${showtime.getHall().hallId}"></span></p>
                <p><strong>放映廳類型：</strong>
                    <span th:text="${showtime.getHall().getHallType().name() == T(com.javaoop.movie_booking_app.model.HallType).BIG.name() ? '大廳' : '小廳'}"></span>
                </p>
                <a th:href="@{/booking/showtime/{id}(id=${showtime.showtimeId})}">
                    現在訂票
                </a>
            </div>
        </div>
    </div>

</section>

</body>
</html>