<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>訂票用戶註冊 </title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body style="background-color: rgb(55, 47, 64);">
<div class="center-box_left">
    <h2>會員修改密碼</h2>
    <p></p>
    <form th:action="@{/user/change_password}" th:object="${user}" method="post">
        <label for="new_password">新密碼</label>
        <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
        <input id="new_password" type="password" th:field="*{newPassword}" required>
        <button id="btn" type="submit" class="button">修改密碼</button>
        <a th:href="@{/}" class="button">回首頁</a>
    </form>

</div>
</body>
</html>